body {
background-image: url(../img/si.jpeg);
background-repeat: no-repeat;
background-size: cover;
}
.btn{
  background-color:#00FFFF ;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   margin-left: 30px;
}
.jumbotron{
 background: transparent;
 color: white;
 font-size: 18px;
}
.player-part{
 color: black;
}
h1 {
 text-align: center;
}
